<div class="page-header">
  <h1>
    Forums
    <a href="/forums/new" class="btn btn-lg btn-success">New Forum</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
<tbody>
      <% @forums.each do |forum| %>
      <tr>
        <td>
           <a href="/forums/<%= forum.id %>" class="btn btn-secondary"> <%= forum.title %> </a> </td>
      <td>
          <a href="/delete_forum/<%= forum.id %>" class="btn btn-danger btn-sm" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
